*{ 
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.stage{
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#board{
    margin: auto;
    grid-column: 2/3;
    grid-row: 2/3;
}
.title{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.data{
    width: 500px;
    display: flex;
    justify-content: space-between;
    grid-column: 2/3;
    margin: 10px auto;
}
.data p{
    position: relative;
    font-size: 2rem;
}
.retry{
    background-color: brown;
    padding: 10px 30px 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
.score-position{
    display: flex;
    align-items: center;
    gap: 10px;
}
.score{
    font-size: 2rem;
}
body{
    width: 100vw;
    height: 100px;
    background-color: #1E1E1E;
}
.how2play{
    display: flex;
    flex-direction: column;
    grid-row: 2;
    align-items: start;
    padding-left: 50px;
}
.how2play p{
    font-size: 1.5rem;
}